{
  "$schema": "https://swc.rs/schema.json",
  "exclude": ["node_modules", "bin", "tools", "dist", ".njk.ts"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": false,
      "dynamicImport": true,
      "privateMethod": true,
      "functionBind": true,
      "exportDefaultFrom": false,
      "exportNamespaceFrom": false,
      "decorators": true,
      "decoratorsBeforeExport": true,
      "topLevelAwait": false,
      "importMeta": false
    },
    "transform": {
      "legacyDecorator": false,
      "decoratorMetadata": true
    },
    "target": "es2022",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": true
  },
  "module": {
    "type": "commonjs"
  },
  "minify": false
}
